/* This is a user generated snippet for css. Steps--> setting icon-> user snippet-> search css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
color:white;
font-family: 'Roboto', sans-serif;
}
html,body{
height: 100%;
width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.927);
    position: relative;
}
.elem{
    height: 120px;
    width: 100%;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    
}
.elem h1{
    font-size: 6vw;
    position: relative;
    z-index: 9;
    /* mix-blend-mode: difference; */
}

.elem img{
    width: 170px;
    height: 170px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: all 0.3s linear;
  
   
}
